<!doctype html>
<html lang="{{ site.data.metadata.lang | default: 'en-US' }}">

<head>
  <meta charset="utf-8">
  <title>{{ site.data.metadata.title | default: 'Plain Vanilla GitHub Pages' }}</title>
  <meta name="description" content="{{ site.data.metadata.description | default: 'Free, easy, low-tech website template using GitHub Pages' }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="favicon.ico" sizes="any">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/custom.css">
</head>

<body>
  <main class="container">
    {{ content }}
  </main>
</body>

</html>